{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Examen</h1>

    </div>
</div>
<br/>
<div class="btn-group">
    <a class="btn btn-primary" href="/new">
        Crear publicación
    </a>
    
    <button class='btn btn-danger' href="#" onclick="signOut();">Sign out</button>
</div>
<br/>
<br/>

{% if dic|count > 0 %}

{% for p in dic %}
<div class="container border border-2 border-secondary rounded rounded-3 m-2">
  
    <div class="m-3">
        <div class="col-12">
            <h4>
                {{p.titulo}}
            </h4>
            <hr>
        </div>   
        <div class="row">
            <div class="col">
                <img src="{{p.imagen}}" class="img-fluid rounded-3 border-3" alt="No hay imagen">
            </div>
            <div class="col">
                <div class="row">
                    <strong>Fecha:</strong>
                    <p>
                        Introducir fecha
                    </p> 
                </div>
                    <a class="btn btn-info " href="edit/{{p._id}}">Editar</a>
                
            </div>
        </div>
        
    </div>
</div>

{% endfor %}
    
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen publicaciones todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
{% endif %}

        <script type="text/javascript">
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                    });
                    window.location.replace(window.location.origin + '/login')
                }
                
                function onLoad() {
                    console.log('Cargada api');
                    gapi.load('auth2', function() {
                      gapi.auth2.init();
                    });
                      }
                
        </script>
        <!-- Añadir esto para que funcione -->
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
{% endblock content %}
