{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Nuevo anuncio<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputText" class="col-sm-3 control-label">T&iacute;tulo</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Título">
                </div>
            </div>

            <div class="form-group">
                <label for="subir-archivo" class="col-sm-3 control-label">Imagen</label>

                <div class="col-sm-6">
                    <input id="subir-archivo" type='file' onchange="readURL(this);" name="imagen"   required/>
                </div>
            </div>

            
            <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Crear</button>
            </div>
        <script>
            function clicar_input(){
                $("#subir-archivo").click();
                $(this).blur();
            }

            function readURL(input) {
                if (input.files && input.files[0]) {
                  var reader = new FileReader();
              
                  reader.onload = function (e) {
                    $('#imagen-mostrar')
                    .attr('src', e.target.result)
                    .removeAttr('hidden');
                    
                  };
              
                  reader.readAsDataURL(input.files[0]);
                }
              }
        </script>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}

